<div class="sidebar2">
  <nav>
    <ul>
      <li><%= link_to 'Nuevo Proyecto', new_proyecto_path %> </li>
    </ul>
  </nav>
</div>



<section class="content">

  <h1>Proyectos</h1>
  <hr>

  <article>
  <div id="demo_jui">
    <table class="display" id="example" >
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @proyectos.each do |proyecto| %>
          <tr>
            <td><%= proyecto.nombre %></td>
            <td><%= proyecto.descripcion %></td>
            <td><%= link_to 'Mostrar', proyecto %> |
            <%= link_to 'Editar', edit_proyecto_path(proyecto) %>
            <% link_to 'Destroy', proyecto, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>

  </article>
</section>






