<div class="sidebar2">
  <nav>
    <ul>
      <li><%= link_to 'Nueva Tarea', new_tarea_path %></li>
    </ul>
  </nav>
</div>



<section class="content">

  <h1>Tareas realizadas</h1>
  <hr>

  <article>
    <div id="demo_jui">
      <table class="display" id="example" >
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Inicio</th>
          <th>Termino</th>
          <th>Total</th>
          <th>Proyecto</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>

        <% @tareas.each do |tarea| %>
            <tr>
              <td><%= tarea.nombre %></td>
              <td><%= tarea.descripcion.truncate(30) %></td>
              <td><%= tarea.inicio.strftime("%d-%m-%Y %H:%M") %></td>
              <td><%= tarea.termino.strftime("%H:%M") %></td>
              <td><%= tarea.total %></td>
              <td><%= tarea.proyecto.nombre   %></td>
              <td><%= link_to 'Mostrar', tarea %> |
                <%= link_to 'Editar', edit_tarea_path(tarea) %>
                <% link_to 'Destroy', tarea, confirm: 'Are you sure?', method: :delete %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </article>
</section>





