<div class="sidebar2">
  <nav>
    <ul>
      <li><%= link_to 'Nuevo Usuario', sign_up_path %></li>
    </ul>
  </nav>
</div>



<section class="content">

  <h1>Usuarios</h1>
  <hr>

  <article>
    <div id="demo_jui">
      <table class="display" id="example" >
        <thead>
        <tr>
          <th>Email</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>admin</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |usuario| %>
            <tr>
              <td><%= usuario.email %></td>
              <td><%= usuario.nombre %></td>
              <td><%= usuario.apellido %></td>
              <td><%= usuario.admin %></td>
              <td><%= link_to 'Mostrar', usuario %>
                <% link_to 'Editar', edit_user_path(usuario) %>
                <% link_to 'Destroy', usuario, confirm: 'Are you sure?', method: :delete %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </article>
</section>




