<div class="sidebar2">
  <nav>
    <ul>
      <li><%= link_to 'Volver', users_path %></li>
    </ul>
  </nav>
</div>



<section class="content">


  <h1>Detalle de <%= @user.nombre.to_s + " " + @user.apellido.to_s + " (" + @user.email.to_s + ")"  %></h1>

  <hr>
  <article>
  <h2>Tareas</h2>


  <div id="demo_jui">
    <table class="display" id="example" >
      <thead>
      <tr>

        <th>Nombre</th>
        <th>Fecha</th>
        <th>Inicio</th>
        <th>Termino</th>
        <th>Total</th>
        <th>Proyecto</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @user.tareas.each do |tarea| %>
          <tr>
            <td><%= tarea.nombre %></td>
            <td><%= tarea.inicio.strftime("%d-%m-%Y") %></td>
            <td><%= tarea.inicio.strftime("%H:%M") %></td>
            <td><%= tarea.termino.strftime("%H:%M") %></td>
            <td><%= tarea.total %></td>
            <td><%= tarea.proyecto.nombre   %></td>
            <td><%= link_to 'Mostrar ', tarea %>
              <% link_to 'Editar', edit_tarea_path(tarea) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  </article>
</section>




